# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib60/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Обычно эти файлы хранятся в build / <имя_скрипта>
# Для однофайлового режима также может быть dist /
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy
.pypirc

# Sphinx documentation
docs/_build/
doc/_build/

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
venv_piper_tests/ # YOUR SPECIFIC VENV NAME
pyper-sdk-env/   # OLDER VENV NAME IF PRESENT

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype
.pytype/

# Cython debug symbols
cython_debug/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Sublime Text
*.sublime-project
*.sublime-workspace

# JetBrains / PyCharm
.idea/
*.iws
*.iml
out/

# Eclipse
.project
.pydevproject
.settings/

# Netbeans
/nbproject/

# pyright
.pyrightconfig.json

# OS generated files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Personal / Sensitive - good to have as a reminder
# *.env
# secrets.json # Be careful if you have actual secrets files
# credentials.yaml
# .aws/

# Jupyter Notebook
.ipynb_checkpoints

# Temp files
*.tmp
*.swp
*~
